<div class="xyz--product--details--info scroll">
    <div class="xyz-product-detail-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="xyz-product-detail-image">
        <img [src]="product.images0" class="xyz-product-detail-image">
    </div>
    
    <div class="xyz-product-detail">
        <div class="xyz-product-detail-name">
            <h2>{{product.title}}</h2>
        </div>
        <div class="xyz-product-detail-gbc">
            <span>{{product.brand}}</span>
            <span>{{product.category}}</span>
        </div>
        <div class="xyz-product-detail-price">
            <p>
                <b>Price:</b>
                <span style="background-color: red; color:white"><s>$699</s></span>
                <span style="background-color: green; color:white">$599</span> (Inclusive of all taxes)
            </p>
        </div>
        <div class="xyz-product-detail-stock">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Stock:
                    <span class="xyz-product-detail-available-stock">{{product.stock}}</span>
                </h4>         
            </div>
                         
        </div>

        <div class="xyz-product-detail-color">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Color</h4>
            </div>
            <diV style="margin-top: 20px;">
                <span class="xyz-product-detail-available-color" style="background-color: red;"></span>
                <span class="xyz-product-detail-available-color" style="background-color: green;"></span>
                <span class="xyz-product-detail-available-color" style="background-color: black;"></span>
                <span class="xyz-product-detail-available-color" style="background-color: blue;"></span>
            </diV>                
        </div>

        <div class="xyz-product-detail-desc">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Product Description</h4>
            </div>
            <div style="margin-top: 20px">
                <p>{{product.description}}</p>
            </div>                
        </div>
    </div>
    <div class="xyz-product-detail-addtoCart">
        <button class="btn-add-to-cart">ADD TO CART</button>
    </div>
</div>
<div class="overlay"></div>