.xyz--search--product {
  margin: 20px auto;
  text-align: center;
}
.btn-search-disabled {
  height: 5.5vh;
  padding: 12px 30px;
  color:#999;
  cursor: not-allowed;
}
.xyz-search-product-input {
  width: 40%;
  height: 5.5vh;
  padding: 1px 10px;
  outline: none;
  border-radius: 2px;
  background-color: #efefef;
  border: #28282b 1px solid;
}
.btn {
  padding: 5px 10px;
  border: none;
}
.btn-search {
  height: 5.5vh;
  padding: 12px 30px;
  background-color:red;
  color: #fff;
}
.xyz-search-result-for {
  margin: 20px auto;
  padding: 10px 140px;
}
